@font-face {
    font-family: 'NotoSans';
    src: local('NotoSans'), url("./fonts/NotoSans/NotoSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'NotoSans';
    src: local('NotoSans'), url("./fonts/NotoSans/NotoSans-SemiBold.ttf") format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'NotoSans';
    src: local('NotoSans'), url("./fonts/NotoSans/NotoSans-Thin.ttf") format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'NotoSans';
    src: local('NotoSans'), url("./fonts/NotoSans/NotoSans-Light.ttf") format('truetype');
    font-weight: 300;
}

body {
    background: linear-gradient(235deg, rgba(32,116,143,1) 0%, rgba(20,124,148,1) 100%);
}
